.noThumb{
    width:85px;
    height:45px;
    background-color:#000;
    float:left;
    margin:0 12px 0 0;

}
ul.anounce_widget {
    margin-top:10px;

}
ul.anounce_widget li {
    margin:0 0 15px 0;
    list-style:none;
    min-height:45px;
    line-height:19px;

}
ul.anounce_widget li img{
    float:left;
    margin:0 12px 0 0;

}
ul.anounce_widget li a {
    font-weight:bold;

}
ul.anounce_widget li span {
    display:block;
    font-size:11px;

}